.loguito {
  width: 8rem;
}

.title {
  padding: 1rem;
}

.container-loguito {
  width: 100vw;
}

button, a{
  background-color: #4B83FC !important;
  color: white !important;
  margin: 1rem;
  padding: 1rem 2rem !important;
  border-radius: 8px;
}

a{

}
