.quiz-screen {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
  max-width: 450px;
  & .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }
}


.loguito {
  width: 8rem;
}

.title {
  padding: 1rem;
}


button, a{
  background-color: #4B83FC !important;
  color: white !important;
  margin: 1rem;
  padding: 1rem 2rem !important;
  border-radius: 8px;
}

a{

}
